// VARS
$colorPrimary: #4A60A1;
$colorSecondary: #EDEFF6;
$colorWhite: #FFF;
$colorBlack: #1B1D1F;
$bodyColor: #F5F5F5;

$colorLabel: #6B7280;

$colorRed: #CE3B3B;
$colorYellow: #D7A21C;
$colorGreen: #54962C;

$BorderRadiusCard: 6px;
$cardShadow: 0px 3px 8px rgba(0, 0, 0, 0.1);;


$BorderRadiusInput: 4px;
$BorderInput: 1px solid #E5E7EB;
$BorderRadiusCard: 6.5px;
$inputShadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
$insetShadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);

$modalBackground: rgba(0, 0, 0, 0.5);